/* 定义公共变量 */
/* 主题颜色 */
/* 公共样式 */
html {
  font-size: 26.6667vw;
}
img {
  vertical-align: middle;
}
body {
  height: 100vh;
  background-color: #fff;
}
body .mui-scroll-wrapper {
  margin-top: 1rem;
}
/* 头部结构 */
#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: .5rem;
  background-color: #ff4e49;
  display: flex;
  justify-content: space-between;
  padding: .1rem .15rem;
}
#header .logo {
  line-height: .3rem;
}
#header .logo img {
  width: 1.85rem;
}
#header .download img {
  width: .3rem;
}
#search {
  position: absolute;
  top: .5rem;
  width: 100%;
  height: .5rem;
  padding: .1rem;
}
#search form {
  display: flex;
}
#search form .search-bar {
  height: .3rem;
  border-radius: .3rem;
  background-color: #e5e5e5;
  margin-bottom: 0;
  text-align: left;
  font-size: .12rem;
}
#search form .search-btn {
  margin-left: .05rem;
  padding: 6px 15px;
  border-radius: .3rem;
  border: 0 none;
  color: #fff;
  background-color: #ff4e49;
}
#search form .search-btn:active {
  background-color: #ff4e49;
}
/* 尾部结构 */
#footer {
  line-height: .34rem;
  background-color: #232a34;
}
#footer .top {
  display: flex;
  color: #fff;
  border-bottom: 1px solid #666;
}
#footer .top > div {
  flex: auto;
  text-align: center;
  font-size: .14rem;
  border-right: 1px solid #666;
}
#footer .top > div:last-of-type {
  border-right: none;
}
#footer .bottom {
  padding: .15rem 0 .1rem;
}
#footer .bottom p {
  text-align: center;
  margin: 0;
  font-size: .12rem;
}
#footer .bottom p .download {
  color: #ff4e49;
}
