/* 定义公共变量 */
/* 主题颜色 */
/* 公共样式 */
html {
  font-size: 26.6667vw;
}
img {
  vertical-align: middle;
}
body {
  height: 100vh;
  background-color: #fff;
}
body .mui-scroll-wrapper {
  margin-top: 1rem;
}
/* 火箭返回顶部公共样式 */
#rocket {
  position: fixed;
  bottom: .2rem;
  right: .2rem;
  z-index: 1000;
  width: .38rem;
  height: .38rem;
  color: #858585;
  background-color: #e4e4e4;
  text-align: center;
  line-height: .38rem;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 1s;
}
/* 导航菜单按钮公共样式 */
#nav-menu {
  position: fixed;
  top: 1rem;
  left: 0;
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #b3b3b3;
  z-index: 9999;
  transition: left .6s;
}
#nav-menu .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all .6s;
  margin-top: -0.6rem;
  margin-left: -0.6rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #b3b3b3;
}
#nav-menu .circle.hide {
  transform: scale(0) rotate(450deg);
}
#nav-menu img {
  width: .28rem;
  height: .28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.14rem;
  margin-top: -0.14rem;
}
/* 头部结构 */
#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: .5rem;
  background-color: #ff4e49;
  display: flex;
  justify-content: space-between;
  padding: .1rem .15rem;
}
#header .logo {
  line-height: .3rem;
}
#header .logo img {
  width: 1.85rem;
}
#header .download img {
  width: .3rem;
}
#search {
  position: absolute;
  top: .5rem;
  width: 100%;
  height: .5rem;
  padding: .1rem;
}
#search form {
  display: flex;
}
#search form .search-bar {
  height: .3rem;
  border-radius: .3rem;
  background-color: #e5e5e5;
  margin-bottom: 0;
  text-align: left;
  font-size: .12rem;
}
#search form .search-btn {
  margin-left: .05rem;
  padding: 6px 15px;
  border-radius: .3rem;
  border: 0 none;
  color: #fff;
  background-color: #ff4e49;
}
#search form .search-btn:active {
  background-color: #ff4e49;
}
/* 尾部结构 */
#footer {
  line-height: .34rem;
  background-color: #232a34;
}
#footer .top {
  display: flex;
  color: #fff;
  border-bottom: 1px solid #666;
}
#footer .top > div {
  flex: auto;
  text-align: center;
  font-size: .14rem;
  border-right: 1px solid #666;
}
#footer .top > div:last-of-type {
  border-right: none;
}
#footer .bottom {
  padding: .15rem 0 .1rem;
}
#footer .bottom p {
  text-align: center;
  margin: 0;
  font-size: .12rem;
}
#footer .bottom p .download {
  color: #ff4e49;
}
body {
  display: flex;
  flex-direction: column;
  padding-top: 0.1rem;
}
#header {
  position: fixed;
  z-index: 111;
  top: 0;
  width: 100%;
  height: .5rem;
  background-color: #ff4e49;
  display: flex;
  justify-content: space-between;
  padding: .1rem .12rem;
}
#header .icon_bar .mui-icon-back {
  font-size: .3rem;
  text-align: center;
  line-height: .3rem;
  color: #ffffff;
}
#header .youhui > p {
  color: #ffffff;
  font-size: .2rem;
  text-align: center;
  line-height: .3rem;
}
#header .download img {
  width: .3rem;
}
#main {
  width: 100%;
  flex: 1;
  position: relative;
  margin-top: .5rem;
  padding: .1rem;
  height: 100%;
}
#main .mui-scroll-wrapper {
  margin-top: 0;
}
#main section > p {
  text-align: center;
  color: #bbb;
  font-size: .16rem;
}
#main section ul {
  background-color: #fff;
  padding: 0;
  margin: 0;
}
#main section ul li a img {
  width: 1rem;
  max-width: 1rem;
  height: 1rem;
  font-size: .12rem;
  white-space: normal;
  line-height: .16rem;
}
#main section ul li a .mui-media-body .mui-ellipsis {
  color: #000;
  white-space: normal;
}
#main section ul li a .mui-media-body .mui-ellipsis p .price {
  color: #000;
  font-size: .17rem;
}
#main section ul li > p {
  text-align: center;
  font-size: .14rem;
  color: #EE7700;
  margin-top: .1rem;
  z-index: 11;
}
#main section ul li .mui-active {
  background-color: #fff;
}
.mui-navigate-right:after,
.mui-push-right:after {
  right: 0rem;
  font-weight: 700;
  color: #000;
}
#popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(51, 51, 51, 0.8);
  display: none;
}
#popup .mui-icon-arrowleft {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 10%;
  background-color: #242424;
  transform: translate(50%, -50%);
}
#popup .mui-icon-arrowright {
  position: absolute;
  color: #fff;
  top: 50%;
  right: 10%;
  background-color: #242424;
  transform: translate(-50%, -50%);
}
#popup img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  transform: translate(-50%, -50%);
}
