/* 定义公共变量 */
/* 主题颜色 */
/* 公共样式 */
html {
  font-size: 26.6667vw;
}
img {
  vertical-align: middle;
}
body {
  height: 100vh;
  background-color: #fff;
}
body .mui-scroll-wrapper {
  margin-top: 1rem;
}
/* 火箭返回顶部公共样式 */
#rocket {
  position: fixed;
  bottom: .2rem;
  right: .2rem;
  z-index: 1000;
  width: .38rem;
  height: .38rem;
  color: #858585;
  background-color: #e4e4e4;
  text-align: center;
  line-height: .38rem;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 1s;
}
/* 导航菜单按钮公共样式 */
#nav-menu {
  position: fixed;
  top: 1rem;
  left: 0;
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #b3b3b3;
  z-index: 9999;
  transition: left .6s;
}
#nav-menu .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all .6s;
  margin-top: -0.6rem;
  margin-left: -0.6rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #b3b3b3;
}
#nav-menu .circle.hide {
  transform: scale(0) rotate(450deg);
}
#nav-menu img {
  width: .28rem;
  height: .28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.14rem;
  margin-top: -0.14rem;
}
/* 头部结构 */
#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: .5rem;
  background-color: #ff4e49;
  display: flex;
  justify-content: space-between;
  padding: .1rem .15rem;
}
#header .logo {
  line-height: .3rem;
}
#header .logo img {
  width: 1.85rem;
}
#header .download img {
  width: .3rem;
}
/* 尾部结构 */
#footer {
  line-height: .34rem;
  background-color: #232a34;
}
#footer .top {
  display: flex;
  color: #fff;
  border-bottom: 1px solid #666;
}
#footer .top > div {
  flex: auto;
  text-align: center;
  font-size: .14rem;
  border-right: 1px solid #666;
}
#footer .top > div:last-of-type {
  border-right: none;
}
#footer .bottom {
  padding: .15rem 0 .1rem;
}
#footer .bottom p {
  text-align: center;
  margin: 0;
  font-size: .12rem;
}
#footer .bottom p .download {
  color: #ff4e49;
}
body {
  background-color: #efeff4;
  padding-top: .5rem;
}
#main {
  margin: .2rem .1rem;
  background-color: #fff;
  box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.2);
  padding-bottom: .2rem;
}
#main .user-icon {
  text-align: center;
}
#main .user-icon i {
  font-size: 2rem;
  color: #ccc;
}
#main h3 {
  text-align: center;
  font-size: .24rem;
  color: #FF4081;
  font-weight: 400;
}
#main .mui-input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: .2rem .15rem;
}
#main .mui-input-group::before,
#main .mui-input-group::after {
  background-color: transparent;
}
#main .mui-input-group > div {
  height: .6rem;
}
#main .mui-input-group > div label {
  width: 25%;
}
#main .mui-input-group > div input {
  width: 75%;
}
#main .mui-input-group > div label,
#main .mui-input-group > div input {
  height: .6rem;
  line-height: .6rem;
  padding: 0;
}
#main .mui-input-group > div::after {
  left: 0;
}
#main .mui-input-group > div .mui-input-password ~ .mui-icon-eye {
  top: .2rem;
}
#main .user-info {
  display: flex;
  justify-content: space-between;
  color: #FF4081;
  font-size: .14rem;
  padding: 0 .15rem;
}
#main .login {
  width: .6rem;
  height: .6rem;
  line-height: .6rem;
  text-align: center;
  font-size: .2rem;
  color: #fff;
  background-color: #ff4e49;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 3px 2px #ff342d;
}
